.avatarwrapp {
  max-width: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}
.avatar {
  width: 100%;
}
.header {
  margin-bottom: 8px;
}
.text {
  margin-bottom: 8px;
}
.link {
  color: black;
}
